.form-check {
    font-size: 16px;
}

.form-check-label {
    font-size: 16px;
}

.form-check-input {
    margin-top: 0px;
}

.custom-input {
    border-radius: 4px;
    border: 1px solid #DEDEDE;
    padding: 8px 20px;
    background-color: #F5F6F8;
    font-size: 18px;
    color: #53595F;
    height: 40px;
}

.custom-input:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-input.error {
    border-color: red;
    border-width: 1px;
}

.custom-input::placeholder {
    color: #A3A3A3;
    font-family: 'NT', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.custom-checkbox {
    width: 20px;
    height: 20px;
    background-color: #F5F6F8;
    border-radius: 4px;
    border: 1px solid #DEDEDE;
    appearance: none; /* Remove default checkbox styling */
    -webkit-appearance: none; /* Remove default checkbox styling for WebKit browsers */
    outline: none; /* Remove default outline */
    cursor: pointer;
    position: relative;
}

.custom-checkbox:checked {
    background-color: #665AE1;
    border-color: #665AE1;
}

.custom-checkbox:checked::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 6px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.custom-input-password {
    position: relative;
}

.custom-input-password input {
    width: 100%;
    padding-right: 60px;
}

.toggle-password {
    position: absolute;
    right: 20px;
    top: 72.5%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #665AE152;
    /* Default color */
    font-size: 18px;
}

.toggle-password:hover {
    color: #665AE1;
    /* Hover color */
}